*{
    /* background-color: white; */
}

.main_chat {
    margin: 0 auto;
    position: relative;
    width: 450px;
}

.chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0 auto;
    width: 450px;
    height: 400px;
    background-color: #CEE9FF;
}