.main {
    align-self: flex-start;
    margin-top: 20px;
    width: 80%;
    background-color: rgb(171, 245, 235);
    border-radius: 10px;
    padding-left: 5px;
}
h6, p {

    display: inline-block;
}